  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Click 'Scrape' to View Tech Articles from 'The Verge'</a>
      <ul class="left" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/ko513/NewsScraper" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>